VITE_API_URL = https://your-link.here

# VITE_DEBUG enables debug mode with mocked data for website preview (e.g. fake sleep times, etc.)
# Turn off in production!

# Values only True or False

VITE_DEBUG = False