# Astral Team Environment File

# Debug switcher, for special page 'docs_url', turn on debug mode for development, turn off for production
# Debug mail for testing send mail, look at VERIFY section!
DEBUG=False
DEBUG_MAIL=
#MySQL database configuration

MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=
MYSQL_CHARSET=

#Redis database configuration

REDIS_HOST=
REDIS_USER=
REDIS_PASSWORD=
REDIS_DATABASE=
REDIS_PORT=
REDIS_MAX_CONNECTIONS=

# SMTP configuration for email verification
# VERIFY_USERNAME must be in the format 'user@hostname.net'
# VERIFY_HOSTNAME should be the hostname of the mail server,
# for example 'mail.hostname.net'
VERIFY_HOSTNAME=
VERIFY_USERNAME=
VERIFY_PASSWORD=
VERIFY_PORT=

# On your production server, you may want to set the pool size to a higher value for better performance. Adjust the values below as needed.
# Well, you can set the minimum and maximum pool size for your MySQL connection pool. The default values are 10 and 20, respectively. You can adjust these values based on your application's needs and server capacity.
# By the way, you can dont put values on this settings, and just commenting this '#' line, and the default values will be used. But if you want to customize the pool size, you can uncomment the lines below and set your desired values.
MYSQL_POOL_SIZE_MIN=10
MYSQL_POOL_SIZE_MAX=20

# Put all allowed origins here for CORSMiddleware, separate them with commas...

CORS_ORIGINS=