WEBSITE_URL = "here your url"
IS_DEBUG = "True"

GITHUB_URL = "here will be github url"
TEAMSPEAK_URL = "here will be teamspeak url"
MATRIX_URL =  "here will be matrix url"
DISCORD_URL = "here will be discord url"