**/__pycache__
__pycache__/
**/*.pyc
.env
Frontend/logs
Frontend/*.log
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/pnpm-debug.log*
Frontend/lerna-debug.log*

Frontend/node_modules
Frontend/dist
Frontend/dist-ssr
Frontend/*.local

Backend/Resource/download/installer/astralinstaller.exe

**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
*.sw?
Frontend/.env
