.topup-block {
    background-color: rgb(30, 30, 30);
    width: 1000px;
    height: 2500px;
    justify-self: center;
    margin-top: 40px;
    border-radius: 24px;
    font-family: Unbounded;
    padding-top: 40px;
    &__header {
        background-color: rgba(165, 165, 165, .30);
        font-size: 23px;
        font-weight: bold;
        padding: 30px;
        text-align: center;
        user-select: none;

    }
}