@font-face {
    font-family: Kanit-Black;
    src: url("/fonts/Kanit/Kanit-Black.ttf");
}

@font-face {
    font-family: Kanit-Bold;
    src: url("/fonts/Kanit/Kanit-Bold.ttf");
}

@font-face {
    font-family: Schulevetica;
    src: url("/fonts/Schulevetica/Schulevetica-Regular.otf");
}

body {
    margin: 0;
    height: 1400px;
    background: rgb(15, 15, 15);
    color: white;
}


.head-bar {
    position: relative;
    width: 95%;
    height: 95px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(65, 65, 65, .48);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    user-select: none;
}


.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logo img {
    height: 115px;
    display: block;

    transition: transform .1s ease,
                filter .1s ease;
}

.logo img:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 20px rgba(0,0,0,.5));
}

.logo img:active {
    transform: scale(.95);
    filter: drop-shadow(4px 4px 25px rgba(255,255,255,.4));
}


.catalogue {
    display: flex;
    align-items: center;
    gap: 30px;
}

.catalogue a {
    text-decoration: none;
}

.catalogue span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 30px;
    color: #111;
    font-weight: 600;
    background: linear-gradient(
        90deg,
        white,
        rgb(211,211,211)
    );

    border-radius: 14px;
    box-shadow:
        0 8px 20px rgba(0,0,0,.35),
        inset 0 1px 1px rgba(255,255,255,.7);

    transition: transform .1s ease;
    cursor: pointer;
}

.catalogue span:hover {
    transform: translateY(-2px);
}

.catalogue span:active {
    transform: scale(.95);
}


.user-circle {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 100ms ease;
    &:hover {
        transform: translateY(-50%) scale(1.1);
    }

    &:active {
        transform: translateY(-50%) scale(0.9);
    }
}
.non-registered {

    background: linear-gradient(
        90deg,
        white,
        rgb(211,211,211)
    );
    height: 50px;
    width: 150px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-weight: 600;
    justify-content: center;
    color: #111;
}