@font-face {
    font-family: Kanit;
    src: url("/assets/fonts/Kanit-Black.ttf");
}

.bg-video {
    position: absolute;
    width: 100%;
    height: 250vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    width: auto;
    min-height: 2000px;
    padding-bottom: 100px;
    background-color: rgb(20, 20, 20);
}

header {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.logo-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 60px;
    & img {
        filter: drop-shadow(0px 0px 12px rgba(180, 180, 180, 0.5));
        width: 270px;
        transition: filter 50ms ease-in;
        &:hover {
            transition: filter 100ms ease-in;
            filter: drop-shadow(0px 0px 24px rgba(180, 180, 180, 0.5));
        }
    }
    & span {
        -webkit-text-stroke: 2px black;
        font-size: 71px;
        font-family: Kanit;
        color: white;
    }
}

.main-container {
    backdrop-filter: blur(20px);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 70px;
    background-color: rgba(29, 29, 29, 0.466);
    width: 1500px;
    height: 1400px;

    & .social-links {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        gap: 30px;
        flex-wrap: wrap;
    }

    & .link {
        width: 200px;
        height: 50px;
        border-radius: 24px;
        background-color: rgb(43, 43, 43);
        padding: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 30px;
        font-size: 20px;
        color: white;
        font-weight: bolder;
        cursor: pointer;
        transition: transform 150ms ease-in;
        & img {
            width: 70px;
        }
        
        &:hover {
            transform: scale(1.1);
            transition: transform 75ms ease;
        }
    }
}