@font-face {
    font-family: Kanit-Black;
    src: url("/fonts/Kanit/Kanit-Black.ttf");
}

@font-face {
    font-family: Unbounded-Bold;
    src: url("/fonts/Unbounded/Unbounded-Bold.ttf");
}

@font-face {
    font-family: Unbounded;
    src: url("/fonts/Unbounded/Unbounded-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: Kanit-Bold;
    src: url("/fonts/Kanit/Kanit-Bold.ttf");
}

@font-face {
    font-family: Schulevetica;
    src: url("/fonts/Schulevetica/Schulevetica-Regular.otf");
}

body {
    margin: 0;
    height: 1400px;
    background: rgb(15, 15, 15);
    color: white;
    padding-top: 100px;
}


.head-bar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    top: 0;
    backdrop-filter: blur(10px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(43, 43, 43, 0.48);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    user-select: none;
    transition: transform 300ms ease;
    & a {
        -webkit-user-drag: none;
    }
    &.hidden {
        transform: translateY(-100%);
    }
}


.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.logo img {
    -webkit-user-drag: none;
    height: 115px;
    display: block;
    transition: transform .1s ease,
                filter .1s ease;
}

.logo img:hover {
    transform: scale(1.1);
    filter: drop-shadow(4px 4px 20px rgba(0,0,0,.5));
}

.logo img:active {
    transform: scale(.95);
    filter: drop-shadow(4px 4px 25px rgba(255,255,255,.4));
}


.catalogue {
    display: flex;
    align-items: center;
    gap: 30px;
}

.catalogue a {
    text-decoration: none;
}

.catalogue span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: Unbounded;
    padding: 0 30px;
    color: #111;
    font-weight: 600;
    background: linear-gradient(
        90deg,
        white,
        rgb(211,211,211)
    );

    border-radius: 14px;
    box-shadow:
        0 8px 20px rgba(0,0,0,.35),
        inset 0 1px 1px rgba(255,255,255,.7);

    transition: transform .1s ease;
    cursor: pointer;
}

.catalogue span:hover {
    transform: translateY(-2px);
}

.catalogue span:active {
    transform: scale(.95);
}


.user-circle {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 100ms ease;
    &:hover {
        transform: translateY(-50%) scale(1.05);
    }

    &:active {
        transform: translateY(-50%) scale(0.97);
    }
}
.non-registered {
    border: 4px solid white;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-image: url("/icons/other/login.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 50%;
}