.reg-box {
    margin-top: 60px;
    width: 1000px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 45px;
    justify-self: center;
    padding: 100px;
    grid-template-columns: repeat(2, 1fr);
    display: grid;

    & .reg-icon {
        display: grid;
        grid-column: 2;
        width: 160px;
        justify-self: center;
        align-self: center;
    }
    & .reg-title {
        font-family: Unbounded;
        font-size: 39px;
        margin-left: 60px;
        user-select: none;
        grid-column: 1;
        grid-row: 1;
    }

    & .reg-form {
        margin-top: 90px;
        margin-left: 40px;
        height: 200px;
        width: 300px;
        gap: 10px;
        display: grid;
        grid-column: 1;
        grid-row: 1;
        flex-direction: column;
        position: relative;
        & .reg-info {
            position: absolute;
            left: 50%;
            top: 160%;
            padding: 15px;
            width: 350px;
            text-align: center;
            /* background-color: rgba(228, 13, 13, 0.712);
            filter: drop-shadow(0px 0px 20px rgb(238, 10, 10)); */ /* Wrong Password CSS */
            
            opacity: 0;
            border-radius: 10px;
            font-size: 14px;
            font-family: Unbounded;
            
            transition: opacity 250ms ease, transform 200ms ease;
            transform: translate(-50%, -70%);

            user-select: none;

            &.visible {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
            
        }
        & button {
            margin-top: 10px;
            height: 60px;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            font-family: Unbounded;
            border-radius: 24px;
            position: relative;
            inset: 0;
            overflow: hidden;
            isolation: isolate;
            transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1), border 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), filter 200ms cubic-bezier(0.19, 1, 0.22, 1);
            &.reg-valid {
                filter: drop-shadow(0px 0px 0px rgb(0, 197, 0));
                &:active {
                    border: 2px solid rgb(0, 197, 0);
                    filter: drop-shadow(0px 0px 10px rgb(0, 197, 0));
                }
            }
            &.reg-invalid {
                filter: drop-shadow(0px 0px 0px rgb(255, 0, 0));
                &:active {
                    border: 2px solid rgb(255, 0, 0);
                    filter: drop-shadow(0px 0px 10px rgb(255, 0, 0));
                }
                &:active::before {
                    background-color: rgb(255, 0, 0);
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: white;
                transition: width 400ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                width: 0;
                height: 100%;
                z-index: -1;
            }
            &:hover::before {
                width: 100%;
            }
            &:hover {
                color: #202020;
                cursor: pointer;
                transform: scale(1.02);
            }
            &:active {
                color: white;
                font-weight: bolder;
                transform: scale(0.95);
            }
            &:active::before {
                background-color: rgb(0, 197, 0);
            }
        }
    }

    & input {
        height: 40px;
        border-radius: 8px;
        border: none;
        padding: 0 10px;
    }

}